.search {
  &__field {
    min-width: 16rem;
    width: 21rem;
    height: 4rem;
    padding: 0 2rem;
    background-color: #202020;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: -7px 1px 10px 0px #0000004d;
  }
}
