<div class="posts">
  <div class="add-post posts__add-post">
    <div class="add-post__container">
      <input
        class="add-post__input"
        type="text"
        placeholder="Напишите что-нибудь"
      />
      <div class="add-post__btn-row">
        <label class="add-post__btn add-post__btn--add-photo" for="post">
          <input id="post"  type="file" accept="image/*">
            <img src="./../assets/images/posts/photo.svg" alt="" />
          </input>
        </label>
        <button class="add-post__btn add-post__btn--send">
          <img src="./../assets/images/posts/arrow-right.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
  <div class="posts__posts-list">
    <div class="post">
      <div class="post__container">
        <p class="post__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
          volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit.
          Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce
          arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat
          massa. Egestas ornare vel volutpat.
        </p>
        <time class="post__date" datetime="2020-06-21"> 21.06.2020 </time>
      </div>
    </div>
    <div class="post">
      <img
        class="post__img"
        src="../assets/images/posts/post.png"
        alt="Фото поста"
      />
      <div class="post__container">
        <h2 class="post__heading">Как писать код быстро и безболезненно?</h2>
        <p class="post__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
          volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit.
          Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce
          arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat
          massa. Egestas ornare vel volutpat.
        </p>
        <div class="post__bottom">
          <ul class="post__bottom-row">
            <li>
              <time
                class="post__date post__date--with-dot-divider"
                datetime="2020-06-21"
              >
                21.06.2020
              </time>
            </li>
            <li>
              <a class="post__tag" href="#">создание сайтов</a>
            </li>
          </ul>
          <a class="post__link" href="#"> Читать </a>
        </div>
      </div>
    </div>
    <div class="post">
      <div class="post__container">
        <p class="post__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
          volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit.
          Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce
          arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat
          massa. Egestas ornare vel volutpat.
        </p>
        <time class="post__date" datetime="2020-06-21"> 21.06.2020 </time>
      </div>
    </div>
  </div>
  <div class="posts-pagination">
    <button class="posts-pagination__btn">&lt</button>
    <button class="posts-pagination__btn">1</button>
    <button class="posts-pagination__btn posts-pagination__btn--active">
      2
    </button>
    <button class="posts-pagination__btn">3</button>
    <button class="posts-pagination__btn">&gt</button>
  </div>
</div>
