<aside class="sidebar">
  <div class="sidebar__header">
    <img
      class="sidebar__bg"
      src="../assets/images/sidebar/bg.png"
      alt=""
      loading="lazy"
    />
  </div>
  <div class="sidebar__content">
    <div class="avatar">
      <img
        class="avatar__img"
        src="../assets/images/sidebar/avatar.png"
        alt="Дмитрий Валак Фото"
        loading="lazy"
      />
    </div>
    <div class="profile">
      <p class="profile__name">Дмитрий Валак</p>
      <p class="profile__role">блог front-end разработчика</p>
      <div class="social-links-row sidebar__divider">
        <a href="#">
          <img
            class="social-links-row__item"
            src="../assets/images/sidebar/instagram.svg"
            alt="instagram Дмитрий Валак ссылка"
            loading="lazy"
          />
        </a>
        <a href="#">
          <img
            class="social-links-row__item"
            src="../assets/images/sidebar/vk.svg"
            alt="vk Дмитрий Валак ссылка"
            loading="lazy"
          />
        </a>
        <a href="#">
          <img
            class="social-links-row__item"
            src="../assets/images/sidebar/pinterest.svg"
            alt="pinterest Дмитрий Валак ссылка"
            loading="lazy"
          />
        </a>
      </div>
      <p class="profile__description sidebar__divider">
        Front-end разработчик. Практик верстки сайтов. Созданием сайтов
        занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал
        более 10 000 часов в создании сайтов различной сложности.
      </p>
    </div>
  </div>
  <div class="sidebar__bottom">
    <button class="btn btn__secondary btn__large btn__rounded">
      Мои работы
    </button>
    <button class="btn btn__primary btn__large btn__rounded">
      Написать мне
    </button>
  </div>
</aside>
