<div class="stories">
  <div class="stories__row">
    <div class="stories__item">
      <img class="stories__img" src="../assets/images/stories/story.jpg" />
      <div class="stories__item-container">
        <p class="stories__item-title">Отдыхаю на природе</p>
        <time class="stories__item-date" datetime="2020-09-21 14:30"
          >21.09.2020</time
        >
      </div>
    </div>
    <div class="stories__item">
      <img class="stories__img" src="../assets/images/stories/story.jpg" />
      <div class="stories__item-container">
        <p class="stories__item-title">Отдыхаю на природе</p>
        <time class="stories__item-date" datetime="2020-09-21 14:30"
          >21.09.2020</time
        >
      </div>
    </div>
    <div class="stories__item">
      <img class="stories__img" src="../assets/images/stories/story.jpg" />
      <div class="stories__item-container">
        <p class="stories__item-title">Отдыхаю на природе</p>
        <time class="stories__item-date" datetime="2020-09-21 14:30"
          >21.09.2020</time
        >
      </div>
    </div>
    <div class="stories__item">
      <img class="stories__img" src="../assets/images/stories/story.jpg" />
      <div class="stories__item-container">
        <p class="stories__item-title">Отдыхаю на природе</p>
        <time class="stories__item-date" datetime="2020-09-21 14:30"
          >21.09.2020</time
        >
      </div>
    </div>
  </div>
</div>
